<template>
  <h2>Challenge Leaderboard</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Points</th>
        <th>Challenge Score</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="rank of challengers">
        <td>${$index + 1}</td>
        <td>${rank.username}</td>
        <td>${rank.points}</td>
        <td>${rank.challenge_score}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="goToMenu()">Menu</button>
</template>
