<template>

  <div id="solitaire-game" class="playingCards container-background">
    <div id="solitaire-top">
      <!-- -->
      <span id="solitaire-stub">
        <ul class="deck deck-clickable" click.trigger="solitaire.stub.turn()">
          <li repeat.for="card of solitaire.stub.returnedCards" class="cards">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>

      <span id="solitaire-returned-stub">
        <ul class="deck deck-clickable">
          <li repeat.for="card of solitaire.stub.cards" class="cards" click.trigger="solitaire.moveCard($index, 0, solitaire.zones.stub)">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>

      <span id="solitaire-king-slots">
        <ul repeat.for="i of 4" class="deck deck-clickable" click.trigger="solitaire.moveCard(-1, i, solitaire.zones.kingSlots)">
          <li repeat.for="card of solitaire.kingSlots[i].cards" class="cards" click.trigger="solitaire.setSelectedCardIndex($index)">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
    </div>
    <div id="solitaire-bottom">
      <span id="solitaire-slots">
        <ul repeat.for="i of 7" class="cards-column" click.trigger="solitaire.moveCard(-1, i, solitaire.zones.slots)">
          <li repeat.for="card of solitaire.slots[i].cards" class="cards" click.trigger="solitaire.setSelectedCardIndex($index)">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
    </div>
  </div>
</template>
