<template>
  <h2>game</h2>
  <div class="playingCards slotsContainer">
    <span>
      <ul class="deck cardsize" click.trigger="returnStub()">
        <li repeat.for="card of solitaire.stub" class="slots">
          <div class="card back">
            <span class="rank">${card.name}</span>
            <span class="suit" innerhtml.bind="card.cssSuit"></span>
          </div>
        </li>
      </ul>
    </span>
    <span>
      <ul>
        <li repeat.for="card of solitaire.returnedStub" class="slots">
          <div class="card rank-${card.rank} ${card.suit}">
            <span class="rank">${card.name}</span>
            <span class="suit" innerhtml.bind="card.cssSuit"></span>
          </div>
        </li>
      </ul>
    </span>
    <span>
      <ul>
        <li repeat.for="card of solitaire.kingCells" class="slots">
          <div class="card rank-${card.rank} ${card.suit}">
            <span class="rank">${card.name}</span>
            <span class="suit" innerhtml.bind="card.cssSuit"></span>
          </div>
        </li>
      </ul>
    </span>
    <span repeat.for="i of 7">
      <ul click.trigger="move(i)">
        <li repeat.for="card of solitaire.slots[i]" class="slots">
          <div class="card rank-${card.rank} ${card.suit}">
            <span class="rank">${card.name}</span>
            <span class="suit" innerhtml.bind="card.cssSuit"></span>
          </div>
        </li>
      </ul>
    </span>
  </div>
</template>
