<template>
  <h1 class="title">Welcome ${user.username} !</h1>
  <div class="conteneur-global">
    <div class="groupe-bouton">
      <h2>Play</h2>
      <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="newGame()">New Game</button>
      <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="restoreGame()">Restore Game</button>
      <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="cheatGame()">Cheat Game</button>
      <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="challengeGame()">Challenge</button>
      <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="goToChallengeBoard()">Challenge Board</button>
      <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="goToRankings()">Leaderboard</button>
      <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="goToLogin()">Disconnect</button>
    </div>
    <div class="conteneur">
      <h2>Profile</h2>
      <h4>Email: ${user.email}</h4>
      <h4>Games Won: ${user.games_won}</h4>
      <h4>Games Played: ${user.games_played}</h4>
      <h3>Level ${user.level}</h3>
      <div class="progress-bar">
        <div css="height:100%;width:${user.percentage}%;background-color:green;"></div>
      </div>
      <h4>${user.progression} XP / ${user.amountToNext} required for Level ${user.level+1}</h4>
    </div>
  </div>
</template>
