<template>
  <div class="align-center">
    <h2>Expected success: ${expectedSuccess}</h2>
    <button class="btn btn-dark btn-sm" if.bind="games.length > 0" click.delegate="launch()" disabled.bind="locked">Launch</button>
    <div>
      <h2>Total number of games: ${gamesCount}</h2>
      <h2>Success: ${success}</h2>
      <h2>Fails: ${fails}</h2>
      <h2>Unknowns: ${unknowns}</h2>
      <h2>Success rate: ${rate}%</h2>
      <h2>Time elapsed: ${time}s</h2>
      <h2>Progress: ${progress ? progress : 0}%</h2>
    </div>
    <div class="flex">
      <div class="progress-bar">
        <div class="progress" css="width: ${progress ? progress : 0}%"></div>
      </div>
    </div>
  </div>
</template>
