<template>
  <h2>Play</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="newGame()">New Game</button>
    <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="cheatGame()">Cheat Game</button>
    <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="autoGame()">Auto Game</button>
    <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="simpleGame()">Simple Game</button>
    <button type="button" class="btn btn-outline-primary btn-sm" click.trigger="autoGame100()">Auto Game x100</button>
  </div>
</template>
