<template>
  <div id="buttons-zone" class="btn-group">
    <button class="btn btn-outline-primary btn-sm" click.trigger="newGame()">New Game</button>
    <button class="btn btn-outline-primary btn-sm" click.trigger="cheatGame()">Cheat Game</button>
    <button class="btn btn-outline-primary btn-sm" click.trigger="autoGame()">Auto Game</button>
    <button class="btn btn-outline-primary btn-sm" click.trigger="autoGame100()">Auto Game x100</button>
    <button class="btn btn-outline-primary btn-sm" click.trigger="spider()">Spider</button>
  </div>
</template>
