<template>
  <div>${solver.status}</div>
  <div>${solver.stepStatus}</div>
  <button class="btn btn-outline-primary" click.delegate="solver.resolve()">Resolve</button>
  <button class="btn btn-outline-primary" click.delegate="solver.playback()" disabled.bind="solver.cannotPlayback">Playback</button>
  <button class="btn btn-outline-primary" click.delegate="solver.pause()">Pause</button>
  <br>
  <br>
  <div id="solitaire-game" class="playingCards container-background">
    <div id="solitaire-top">
      <span id="solitaire-stub">
        <ul class="deck deck-clickable">
          <li repeat.for="card of solitaire.stub.returnedCards" class="card-slot">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
      <span id="solitaire-returned-stub">
        <ul class="deck deck-clickable">
          <li repeat.for="card of solitaire.stub.cards" class="card-slot">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
      <span id="solitaire-king-slots">
        <ul class="deck deck-clickable">
          <li repeat.for="card of solitaire.kingSlots[0].cards" class="card-slot">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
    </div>
    <div id="solitaire-bottom">
      <span id="solitaire-slots">
        <ul repeat.for="i of 3" class="cards-column">
          <li repeat.for="card of solitaire.slots[i].cards" class="card-slot">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
    </div>
  </div>
</template>
