<template>
  <div id="buttons-zone" class="btn-group">
    <button class="btn btn-dark btn-sm" click.delegate="quit()">Quit</button>
    <button class="btn btn-dark btn-sm" click.delegate="spider.logJson()">Log JSON</button>
    <button class="btn btn-dark btn-sm" click.delegate="spider.cheat()">Cheat</button>
    <button class="btn btn-dark btn-sm" click.delegate="spider.undoMove()">Undo</button>
  </div>
  <div id="solitaire-game" class="playingCards container-background" show.bind="spider.isNotFinished">
    <div id="solitaire-top">
      <span id="solitaire-stub">
        <ul class="deck deck-clickable" click.delegate="spider.callStub()">
          <li repeat.for="card of spider.stub.cards">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
      <span id="solitaire-king-slots">
        <ul class="spider-deck deck-clickable">
          <li repeat.for="card of spider.foundation.cards" class="card-slot">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
    </div>
    <div id="solitaire-bottom">
      <span id="solitaire-slots">
        <ul repeat.for="i of 10" class="cards-column" click.trigger="spider.moveCard(-1, i)">
          <li repeat.for="card of spider.slots[i].cards" class="card-slot" click.trigger="spider.setSelectedCardIndex($index)">
            <compose view="../templates/card.html" containerless></compose>
          </li>
        </ul>
      </span>
    </div>
  </div>
  <h2 class="finished" show.bind="!spider.isNotFinished">FINISHED !
    <h2>
</template>
