<template id="solver">
  <require from="./solver.css"></require>

  <main id="solver">

    <div id="solver-menu" class="btn-group">
      <a class="btn btn-dark btn-sm" href="/menu">Quit</a>
      <button class="btn btn-dark btn-sm" if.bind="games.length > 0" click.delegate="launch()"
        disabled.bind="locked">Launch</button>
    </div>
    <div id="progress-zone">
      <h4 class="understated">Minimum expected success: ${expectedSuccess}</h4>
      <h4 class="understated">Total number of games: ${gamesCount}</h4>
      <h4>Success: ${success}</h4>
      <h4>No solutions: ${fails}</h4>
      <h4>Unknowns: ${unknowns}</h4>
      <h4>Success rate: ${rate}%</h4>
      <h4>Time elapsed: ${time}s</h4>
      <div class="progress">
        <div class="progress-bar" css="width: ${progress ? progress : 0}%">${progress ? progress : 0}%</div>
      </div>
    </div>

  </main>

</template>
