body{
  background-image: url(img/back.jpg);
}

#solitaire-game {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
}

#solitaire-stub {
  order:1;
}

#solitaire-returned-stub {
  order:2;
}

#solitaire-king-slots {
 order: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; 
}

#solitaire-slots {
  order: 4;
  display: flex;
  flex-flow: row nowrap;
}

.slots{
  list-style: none;
  margin-left: 30px;
  flex-grow: 1;
}

.cardsize{
  width: 3.3em;
  height: 4.6em;
  border: 1px solid silver;
}

.selected-card{
  opacity: 0.7;
}
