#container-background{
  background-image: url(img/back.jpg);
}

#solitaire-game {
  display: flex;
  flex-flow: column nowrap;
}

#solitaire-top {
  order: 1;
  display: flex;
  flex-flow: row nowrap;
}

#solitaire-stub {
  flex-grow: 1;
  order: 1;
}

#solitaire-returned-stub {
  flex-grow: 1;
  order:2;
}

#solitaire-king-slots {
  flex-grow : 4;
  order: 3;
  display: flex;
  flex-flow: row nowrap;
}

#solitaire-bottom {
  order: 2;
}

#solitaire-slots {
  order: 4;
  display: flex;
  flex-flow: row nowrap;
}

.cards{
  order: 1;
  list-style: none;
  flex-grow: 1;
}

.cardsize{
  width: 3.3em;
  height: 4.6em;
  border: 1px solid silver;
  margin-left: 30px;
}

.selected-card{
  opacity: 0.7;
}
