@main-color: #0F8008;

body{
  background-color: @main-color;
}

#solitaire-game {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
}

#solitaire-stub {
  order:1;
}

#solitaire-returned-stub {
  order:2;
}

#solitaire-king-slots {
 order: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; 
}

#solitaire-slots {
  order: 4;
}

.slots{
  list-style: none;
  margin-left: 30px;
  flex-grow: 1;
}

.slotsContainer{
  display: flex;
  flex-flow: row nowrap;
}

.cardsize{
  width: 75px;
  margin: 25px;
  height: 100px;
  padding: 0;
  border: 1px solid silver;
}

.selected-card{
  opacity: 0.3;
}
